.main {
    position: relative;
    display: inline-block;
    max-height: 100vh;
}

.main-image {
    display: block;
    max-height: 100vh;
}

.info {
    cursor: pointer;
    position: absolute;
    background: #808080;
    background-image: url('../photo/icon.png');
    background-size: 100% 100%;
    width: 3.5%;
    height: 2.5%;
    border: 1px solid #808080;
    border-radius: 50%;
    opacity: 0.2;
}

.info:hover {
    opacity: 1;
}

.container {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: #333;
  position: relative;
  text-align: center;
}

.mini-map {
	top:12px;
	left:12px;
	position:fixed;
	width: 202px;
	height: 69px;
    border:1px solid #fff;
    background:#000085;
    z-index:9;
    color:#fff
}

.inner {
	cursor: pointer;
	width: 55px;
	height: 55px;
	border:1px solid #fff;
	display:inline-block;
	position: relative;
	top:6px;
}

.inner:hover {
    background:#fff;
    color:#000;
}

.inner-text{
	line-height: 28px;
}

.chat {
  position: fixed;
  bottom: 4%;
  left: 4%;
  right: 4%;
  padding: 20px 30px;
  height: 20vh;
  text-align: left;
  background: #000;
  opacity: 0.8;
  border-radius: 15px;
  border: 2px solid rgba(256, 256, 256, 0.7);
}

.chat-text {
  color: white;
  font-size: 3.5vh;
  line-height: 2;
}
