@import url("./reset.css");
@import url("./common.css");

.door {
  top: 45%;
  left: 40%;
}

.signBoard {
  top: 30%;
  left: 78%;
}

.security {
  top: 40%;
  left: 10%;
}

.floor {
  top: 93%;
  left: 79%;
}

.card {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background: #000085;
  color: #fff;
  border: 3px solid #fff;
  font-size: 4vh;
  z-index: 1;
}