@import url("./reset.css");
@import url("./common.css");
.sound-guide {
  color: #fff;
  text-align: right;
  margin: 3vh 3vw 0 0;
  font-size: 3vh;
  opacity: 0.5;
}

.sound-guide img {
  width: 2vh;
}

header {
  padding: 20vh 0;
  font-size: 10vw;
  color: #fff;
}

.btn {
  width: 20vh;
  height: 5vh;
  padding-top: 2vh;
  border: 1px solid #fff;
  margin: 1vh auto;
  font-size: 3.5vh;
}

.game-start {
  cursor: pointer;
  color: #fff;
}

.game-start:hover {
  color: #000;
  background-color: #fff;
}

.game-rule-container {
  cursor: pointer;
  color: #fff;
}

.game-rule-container:hover {
  color: #000;
  background-color: #fff;
}

.game-rule {
  opacity: 0;
  width: 50vh;
  padding: 2vh 1vh;
  border: 1px solid #fff;
  margin: 1vh auto;
  font-size: 3vh;
  color: #fff;
}

.show {
  opacity: 1;
}

@media screen and (min-width: 800px) {
  header {
    font-size: 7vw;
  }
}

@keyframes circling {
  0%{
    transform:rotate(0deg);
  }
  50%{
    transform:rotate(180deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
.container {
  display:none;
}
.spinner{
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: #333;
  position: relative;
  text-align: center;
  overflow-y: hidden;
}
.spinner-animation{
  display:inline-block;
  width:13vh;
  height:13vw;
  border:3px solid #fff;
  border-radius: 50%;
  background-color:#333;
  margin-top:3vh;
}
.spinner-inner-circle-container{
  display:inline-block;
  width:13vh;
  height:13vw;
  animation: circling 2s linear infinite;
}
.spinner-inner-circle {
  display:inline-block;
  width:5vh;
  height:5vw;
  border:1px solid #fff;
  border-radius:50%;
  background-image:url('../photo/soom-cutout.png');
  background-size:5vh 5vw; 
}
.soom-ment {
  color:#fff;
}

@keyframes blink{
  to{
    visibility: hidden;
  }
}
.loading-sentence{
  color:#fff;
  margin-top:2vh;
  animation:blink 1s steps(2, start) infinite;
}