@import url("./reset.css");
@import url("./common.css");


.skip-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background: #000085;
  color: #fff;
  border: 3px solid #fff;
  font-size: 20px;
  z-index: 9;
}
