@import url("./reset.css");
@import url("./common.css");

.chat {
  position: fixed;
  bottom: 4%;
  left: 4%;
  right: 4%;
  padding: 20px 30px;
  height: 20vh;
  text-align: left;
  background: #000;
  opacity: 0.8;
  border-radius: 15px;
  border: 2px solid rgba(256, 256, 256, 0.7);
}

.chat-text {
  color: white;
  font-size: 20px;
  line-height: 2;
}

.skip-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background: #000085;
  color: #fff;
  border: 3px solid #fff;
  font-size: 20px;
}
