<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>시험지를 훔쳤다 - 마스터 책상</title>
  <link rel="stylesheet" href="./css/crong.css">
</head>

<body>
  <div class="container" id="app">
    <div class='mini-map'>
      <div class='crong inner' onclick="window.location.href='./crong.html';">
        <span class='inner-text'>마스터<br>책상</span>
      </div>
      <div class='front-end inner' onclick="window.location.href='./front.html';">
        <span class='inner-text'>프론트<br>자리</span>
      </div>
      <div class='class-room inner' onclick="window.location.href='./room.html';">
        <span class='inner-text'>강의실<br>자리</span>
      </div>
    </div>

    <div class="main">
      <img src="./photo/crong.jpeg" class="main-image">
      <div @click="activeChat('\'최저임금\'에 대한 책을 읽고 계시는군.')" class='desk info'></div>
      <div @click="activeChat('가방 안에는 아무것도 없다.')" class='bag info'></div>
      <div @click="activeChat('서랍이 잠겨있다. 자물쇠를 풀려면 문제를 맞혀야 할 것 같다.')" class='cabinet info'></div>
      <div @click="activeChat('...윽. 저건 만지고 싶지 않다.')" class='under info'></div>
      <div @click="openModal" class='lock'></div>
    </div>
    <div class="chat" v-show="showChat">
      <div class="chat-text">
      </div>
    </div>
    <div class="modal" v-if="showModal" @click="closeModal">
      <div class="modal-body" @click.stop :class="{'modal-body-wrong': wrongAnswer}">
        <button class="modal-btn-close" @click="closeModal">x</button>
        <div class="modal-question" v-for="question in questions">
          <label class="modal-question-label">{{ question.question }}</label>
          <input type="text" class="modal-question-input" v-model="question.input">
        </div>
        <button class="modal-btn-submit" @click="submitAnswer">열기</button>
      </div>
    </div>
  </div>
  <script>
    const audio = new Audio('./sound/footStep.mp3')
    audio.play();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
  <script src="./js/rooms.js"></script>
</body>

</html>